html::-webkit-scrollbar {
	width: 1.5rem;
}

html::-webkit-scrollbar-track {
	background: linear-gradient(#222635, #ffffff);
}

html::-webkit-scrollbar-thumb {
	background: linear-gradient(#222635, #ffffff);
}

:root {
	--gradient: linear-gradient(90deg, #222635, #ffffff);
}

/* Reviews Start */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
	overflow-x: hidden;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 13px;
	text-align: center;
	font-family: "Roboto";
	background: #FFFFFF;
}

section {
	float: left;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}

.section-title {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px;
}

.section-title p {
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}

.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: #007aff;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}

.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}

.section-separator:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #007aff;
	margin-left: -25px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.listing-carousel-button {
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #007aff;
	box-shadow: 0 9px 26px rgba(58, 87, 135, 0.45);
	transition: all 200ms linear;
	outline: none;
}

.listing-carousel-button.listing-carousel-button-next {
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}

.listing-carousel-button.listing-carousel-button-prev {
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}

.listing-carousel-button.listing-carousel-button-next:hover {
	right: -15px;
	background: rgba(6, 27, 65, 0.4);
}

.listing-carousel-button.listing-carousel-button-prev:hover {
	left: -15px;
	background: rgba(6, 27, 65, 0.4);
}

.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}

.testimonials-text {
	padding: 75px 50px 75px;
	overflow: hidden;
	background: #f5f6fa;
	border: 1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}

.testimonials-text-after {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}

.testimonials-text-before {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}

.testimonials-text .listing-rating {
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}

.listing-rating i {
	color: #007aff;
}

.testimonials-avatar h3 {
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}

.testimonials-avatar h4 {
	font-weight: 400;
	font-size: 12px;
	padding-top: 6px;
	color: #007aff;
}

.testimonials-carousel .swiper-slide {
	padding: 30px 0;
}

.testi-avatar {
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}

.testi-avatar img {
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border: 6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.testimonials-text p {
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}

.text-link {
	position: absolute;
	bottom: 0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border: 1px solid #eee;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}

.swiper-slide-active .testi-item {
	opacity: 1;
	transform: scale(1.0);
}

.tc-pagination {
	float: left;
	margin-top: 10px;
	width: 100% !important;
}

.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}

.tc-pagination2 {
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}

.tc-pagination .swiper-pagination-bullet,
.tc-pagination2.swiper-pagination-bullet {
	opacity: 1;
	background: #384f95;
	margin: 0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}

/* Reviews End */


/* Star Color In Reviews Start */

.swiper-slide .testi-item .listing-rating i {
	color: gold;
	font-size: 1.5rem;
	padding: 1rem 0;
}

/* Star Color In Reviews End */


/* Enroll Now Button Shine Start */

.btn {
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.btn::before {
	content: '';
	position: absolute;
	top: -1rem;
	left: -100%;
	background: #fff9;
	height: 150%;
	width: 20%;
	transform: rotate(25deg);
	z-index: -1;
}

.btn:hover::before {
	transition: .3s linear;
	left: 120%;
}

/* Enroll Now Button Shine End */


/* Move To Top Start */

@font-face {
	font-family: 'unicons';
	src: url('../unicons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 3000px;
	color: #000000;
}

@-webkit-keyframes border-transform {

	0%,
	100% {
		border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
	}

	14% {
		border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
	}

	28% {
		border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
	}

	42% {
		border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
	}

	56% {
		border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
	}

	70% {
		border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
	}

	84% {
		border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
	}
}

.progress-wrap {
	position: fixed;
	right: 40px;
	bottom: 40px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 100;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 50px;
	font-size: 26px;
	color: white;
	left: 0;
	top: 0;
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.progress-wrap:hover::after {
	opacity: 0;
}

.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 50px;
	font-size: 26px;
	opacity: 0;
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: white;
	left: 0;
	top: 0;
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path {
	fill: #2c3e50;
}

.progress-wrap svg.progress-circle path {
	stroke: white;
	stroke-width: 3;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}


/* Move To Top End */

#preloader {
	background: #000;
	height: 100vh;width: 100%;
}